<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="witdh=device-witdh" />
    <title>Первое приложение @ViewBag.Title</title>
</head>

<body>
    <h3>Сотрудники!</h3>

    <a asp-controller="Emp" asp-action="Index">Список</a>

</body>
</html>
